@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');


    /* BASE STYLES */

    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
      }
      
body {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 239, 239);
    line-height: 1.6;
    background-image: url(../images/Home-Image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }
      
    ul {
        list-style-type: none;
    }
      
    a {
        text-decoration: none;
        color: #333;
    }

    h1{
        font-weight: 400;
        line-height: 1.1;
        margin: 10px 0;
    }

    p {
        margin: 10px 0;
      }
    img {
        width: 100%;
      }
      
      
    /* Navbar */

.navbar {
    background-color: #414e64;
    color: #fff;
    height: 65px;
}
      
.navbar ul {
display: flex;
}

      
.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}
      
.navbar a:hover {
    border-bottom: 2px #fff solid;
}
      
.navbar .flex {
    justify-content: space-between;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/*SHOWCASE*/

section{
    display:flex;
    height: 100vh;
    align-items: center;
}
.showcase-text{
z-index: 10;
}
.btn{
    cursor: pointer;
    display: inline-block;
    background:#76777e;
    color: white;
    text-decoration:none;
    padding: 10px 30px;
    margin: 20px 0;
}
.btn:hover{
    transform: scale(0.97);
}

.bg-img{
    background-image: url("../images/Home-Image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
} 



